<a href="https://colab.research.google.com/github/victoria2012/test_deeplearning/blob/master/NLP/Cosine_Similarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*        바나나     사과     저는     좋아요
* 문서1     0          1        1        1
* 문서2     1          0        1        1
* 문서3     2          0        2        2

* 참고 : https://wikidocs.net/24603

In [ ]:
from numpy import dot
from numpy.linalg import norm
import numpy as np
def cos_sim(A, B):
       return dot(A, B)/(norm(A)*norm(B))

In [ ]:
doc1 = np.array([0,1,1,1])
doc2 = np.array([1,0,1,1])
doc3 = np.array([2,0,2,2])

In [ ]:
# 인접행렬

In [ ]:
cos_sim(doc1, doc2)

0.6666666666666667

In [ ]:
cos_sim(doc1, doc3)

0.6666666666666667

In [ ]:
cos_sim(doc2, doc3)

1.0000000000000002

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
corpus = [
    'you know I want your love',
    'I like you',
    'what should I do ',    
]

In [9]:
tfidf = TfidfVectorizer()
print(tfidf.fit_transform(corpus).toarray())

[[0.         0.46735098 0.         0.46735098 0.         0.46735098
  0.         0.35543247 0.46735098]
 [0.         0.         0.79596054 0.         0.         0.
  0.         0.60534851 0.        ]
 [0.57735027 0.         0.         0.         0.57735027 0.
  0.57735027 0.         0.        ]]

In [8]:
print(tfidf.vocabulary_)

{'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}

## Recommended with cos similarity
### dataset from https://www.kaggle.com/rounakbanik/the-movies-dataset/version/7?select=movies_metadata.csv

In [18]:
import pandas as pd

In [19]:
df_data = pd.read_csv('./movies_metadata.csv')
df_data.head(3)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0

[3 rows x 24 columns]

In [20]:
df_data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [21]:
data = df_data.head(10000)

In [22]:
data = data.dropna()

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 9 to 9888
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  158 non-null    object
 1   belongs_to_collection  158 non-null    object
 2   budget                 158 non-null    object
 3   genres                 158 non-null    object
 4   homepage               158 non-null    object
 5   id                     158 non-null    object
 6   imdb_id                158 non-null    object
 7   original_language      158 non-null    object
 8   original_title         158 non-null    object
 9   overview               158 non-null    object
 10  popularity             158 non-null    object
 11  poster_path            158 non-null    object
 12  production_companies   158 non-null    object
 13  production_countries   158 non-null    object
 14  release_date           158 non-null    object
 15  revenue                158 non-null    float64
 16  runtime                158 non-null    float64
 17  spoken_languages       158 non-null    object
 18  status                 158 non-null    object
 19  tagline                158 non-null    object
 20  title                  158 non-null    object
 21  video                  158 non-null    object
 22  vote_average           158 non-null    float64
 23  vote_count             158 non-null    float64
dtypes: float64(4), object(20)
memory usage: 30.9+ KB

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [25]:
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(data['overview'])
tfidf_matrix.shape

(158, 2696)

In [29]:
len(tfidf.vocabulary_)

2696

In [30]:
type(tfidf_matrix)

scipy.sparse.csr.csr_matrix

In [31]:
tfidf_matrix[4].toarray()

array([[0., 0., 0., ..., 0., 0., 0.]])

In [32]:
from sklearn.metrics.pairwise import linear_kernel    # 커널은 차원이라고 이해하면 됨 랭커도 비슷

In [34]:
cosin_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
type(cosin_sim), cosin_sim.shape

(numpy.ndarray, (158, 158))

In [ ]:
cosin_sim[3]

In [36]:
indexes = pd.Series(data.index, index=data['title']).drop_duplicates()
indexes.head(5)

title
GoldenEye                                    9
Friday                                      68
From Dusk Till Dawn                         69
Blue in the Face                           153
Mighty Morphin Power Rangers: The Movie    178
dtype: int64

In [37]:
indexes['From Dusk Till Dawn']

69

In [ ]:
list(cosin_sim[69])

In [ ]:
cosin_list = list(enumerate(cosin_sim[69]))    # movie index
cosin_list

In [54]:
cosin_index = sorted(cosin_list, key=lambda x:x[1], reverse=True)
cosin_index[1:11]   # top 10

[(83, 0.15998660887787308),
 (67, 0.14772757089625846),
 (137, 0.13396597843861469),
 (138, 0.12763954217361856),
 (56, 0.12396013932603699),
 (133, 0.1189225068324697),
 (71, 0.11846245157106666),
 (74, 0.11163546861489206),
 (85, 0.10414294242114651),
 (62, 0.1021239662265584)]

In [56]:
# for i in cosin_index:
#   i[0]

movie_indexes = [i[0] for i in cosin_index[1:11]]

In [58]:
data['title'].iloc[movie_indexes]

3513                      The Spy Who Loved Me
2832                     From Russia with Love
7329                       You Only Live Twice
7330                                 Octopussy
2263                          A View to a Kill
7192    Agent Cody Banks 2: Destination London
2875                          Live and Let Die
2965                   The World Is Not Enough
3517               The Man with the Golden Gun
2572                                    Tarzan
Name: title, dtype: object